.Autocomplete {
  width: 23rem;
  position: relative;
  margin-right: 2.22rem;
}

.Autocomplete:last-child {
  margin-right: 0;
}

.Autocomplete input {
  width: 100%;
}

.Autocomplete-list {
  position: absolute;
  top: calc(100% - 0.3rem);
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1;
  font-style: italic;
  font-weight: 200;
  font-size: 0.77rem;
  color: grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.Autocomplete-option {
  box-sizing: border-box;
  padding: 10px;
  padding: 0.66rem 1rem;
  cursor: pointer;
}

/* .Autocomplete-option:hover, */
.Autocomplete-option:focus {
  background: rgb(152, 214, 255);
  color: #fff;
  outline: none;
}

@media only screen and (max-width: 560px) {
  .Autocomplete {
    margin-right: 0;
    margin-bottom: 0.86rem;
  }
  .Autocomplete input {
    margin: 0;
  }
}
