.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./background_search_desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.SearchBar-sort-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: #ffffff;
}

.SearchBar-sort-options li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 1px solid #fff;
  padding: 0 2.58rem 0.33rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 0.83rem;
  transition: color 0.25s;
}

.SearchBar-sort-options li:hover {
  color: #d4cfcf;
}

.SearchBar-sort-options li.active,
.SearchBar-sort-options li.active:hover {
  border-bottom: 1px solid #f0c36c;
  color: #f0c36c;
}

.SearchBar-fields input,
.SearchBar-distance-options input {
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.77rem;
}

.SearchBar-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 2.16rem;
}

.SearchBar-fields input {
  box-sizing: border-box;
  width: 23rem;
  padding: 0.66rem 1rem;
  margin-right: 2.22rem;
}

.SearchBar-fields input:last-child {
  margin-right: 0;
}

.SearchBar-location {
  position: relative;
}

.SearchBar-location.invalid input {
  color: #d4cfcf;
  background-color: rgb(224, 56, 56);
  caret-color: currentColor;
  box-shadow: 0 0 10px rgb(207, 43, 43);
  transition: all 0.1s ease-out;
}
.SearchBar-location.invalid input::placeholder {
  color: currentColor;
}

.SearchBar-location::after {
  content: '*';
  position: absolute;
  font-size: 1.2rem;
  right: 0;
  top: 0;
  padding: 0.2rem 0.3rem;
  color: rgb(207, 43, 43);
}

.SearchBar-location.invalid::after {
  color: #d4cfcf;
}

.SearchBar-distance-options {
  margin: 0 auto 2.16rem;
  padding: 20px;
  border: 1px solid #fff;
  font-size: 0.9rem;
}

.SearchBar-distance-options legend {
  background: rgb(54, 54, 54);
  color: #fff;
  padding: 3px;
  font-weight: 200;
}

.SearchBar-distance-options p {
  display: flex;
  align-items: baseline;
}

.SearchBar-distance-options input {
  padding: 0.43rem 0.43rem;
  margin-right: 10px;
}
.SearchBar-distance-options input[type='checkbox'] {
  transform: scale(1.5);
}

.SearchBar-distance-options label {
  display: flex;
  align-items: baseline;
  line-height: 1.2;
  font-weight: 200;
  color: #fff;
  margin-right: 2.22rem;
}

.SearchBar-distance-options label:last-child {
  margin-right: 0;
}

.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit a,
.SearchBar-submit button {
  border-radius: 4px;
  padding: 0.72rem 1.7rem;
  background-color: #cca353;
  color: #ffffff;
  font-weight: 600;
  transition: background-color 0.5s;
}

.SearchBar-submit button {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.SearchBar-submit a:hover,
.SearchBar-submit button:hover {
  cursor: pointer;
  background-color: #a7874b;
}

@media only screen and (max-width: 560px) {
  .SearchBar {
    background-image: url('./background_search_mobile.jpg');
    height: 30rem;
  }

  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-fields input {
    margin-right: 0;
    margin-bottom: 0.86rem;
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar-distance-options p {
    flex-direction: column;
  }
  .SearchBar-distance-options input[type='checkbox'] {
    transform: scale(1.2);
  }
  .SearchBar-distance-options label {
    margin-bottom: 0.86rem;
  }
}
