.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  margin: 0 0.5rem 2.3rem 0.5rem;
}

.Business .image-container {
  position: relative;
  height: 16.66rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.Business .image-container::before,
.Business .image-container::after {
  position: absolute;
}

.Business .image-container::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Business .image-container::after {
  content: 'Visit the resource';
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.Business .image-container:hover::before {
  background: rgba(116, 116, 116, 0.7);
}
.Business .image-container:hover::after {
  visibility: initial;
}

.Business h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.Business-information {
  display: flex;
  justify-content: space-between;
}
.Business-information a {
  text-decoration: none;
  color: inherit;
}

.Business-information a:hover {
  text-decoration: underline;
}

.Business-information p {
  font-size: 0.88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.Business-reviews h3 {
  color: #cca353;
  font-weight: 600;
}

.Business-reviews .rating {
  font-size: 0.88rem;
  line-height: 1rem;
}
